{% extends 'layouts/base.html' %}
{% load static %}

{% block body %}
<div class="card h-100">
    <div class="card-inner">
        <div class="card-head">
            <h5 class="card-title">Write questions you would like potential roommates to answer.</h5>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                <div class="form-group">
                    {{ form.text.label_tag }}
                    <div class="form-control-wrap">
                        {{ form.text }}
                    </div>
                </div>
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-primary">Save Questions</button>
            </div>
        </form>

    </div>
</div>

{% endblock %}