{% extends 'layouts/base.html' %}
{% load static %}

{% block body %}
    <div class="card h-100">
    <div class="card-inner">
        <div class="card-head">
            <h4 class="card-title">These are the questions potential roommates will answer</h4>
        </div>

        <div class="code-block">
            {% if questions %}
                <ol class="list-group list-group-numbered">
                    {% for question in user.questions.all %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Question {{ forloop.counter }}</div>
                                {{ question.text }}
                            </div>
                            {% if question.is_active %}
                                <span class="badge bg-success rounded-pill">Active</span>
                            {% else %}
                                <span class="badge bg-secondary rounded-pill">Inactive</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                <div class="alert alert-info" role="alert">
                    You have not added any roommate questions yet.
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}