{% extends 'layouts/base.html' %}
{% load static %}

{% block body %}
<div class="card card-bordered card-preview">
    <div class="card-inner">
        <div id="accordion" class="accordion">
            <div class="accordion-item">
                <a href="#" class="accordion-head collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-item-1" aria-expanded="false">
                    <h6 class="title">Requests Recieved({{ received_requests.count}})</h6>
                    <span class="accordion-icon"></span>
                </a>
                <div class="accordion-body collapse" id="accordion-item-1" data-bs-parent="#accordion" style="">
                    <div class="accordion-inner">
                        <div class="nk-block nk-block-lg">
                            <div class="card card-bordered card-preview">
                                <div class="card-inner">
                                    <table class="datatable-init-export nowrap table" data-export-title="Export">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Sender
                                                </th>
                                                <th>
                                                    Receiver
                                                </th>
                                                <th>
                                                    Status
                                                </th>
                                                <th>
                                                    Created
                                                </th>
                                                <th>
                                                    Actions
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for req in received_requests %}
                                                    <tr>
                                                        <td>{{req.sender}}</td>
                                                        <td>{{req.receiver}}</td>
                                                        <td>{{req.status}}</td>
                                                        <td>{{req.created}}</td>
                                                        <td class="tb-tnx-action">
                                                            <div class="dropdown">
                                                                <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown" aria-expanded="false"><em class="icon ni ni-more-h"></em></a>
                                                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs" >
                                                                    <ul class="link-list-plain">
                                                                        <li><a class="link-list-plain" href="{% url 'roommate_request_review' req.pk %}" class='px-1'>Review</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                          
                                                
                        
                                            {% endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <a href="#" class="accordion-head collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-item-2" aria-expanded="false">
                    <h6 class="title">Requests Sent({{sent_requests.count}})</h6>
                    <span class="accordion-icon"></span>
                </a>
                <div class="accordion-body collapse" id="accordion-item-2" data-bs-parent="#accordion">
                    <div class="accordion-inner">
                        <div class="nk-block nk-block-lg">
                            <div class="card card-bordered card-preview">
                                <div class="card-inner">
                                    <table class="datatable-init-export nowrap table" data-export-title="Export">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Sender
                                                </th>
                                                <th>
                                                    Reciever
                                                </th>
                                                <th>
                                                    Status
                                                </th>
                                                <th>
                                                    Created
                                                </th>
                                                <th>
                                                    Actions
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for req in sent_requests %}
                                                    <tr>
                                                        <td>{{req.sender}}</td>
                                                        <td>{{req.receiver}}</td>
                                                        <td>{{req.status}}</td>
                                                        <td>{{req.created}}</td>
                                                        <td class="tb-tnx-action">
                                                            <div class="dropdown">
                                                                <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown" aria-expanded="false"><em class="icon ni ni-more-h"></em></a>
                                                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs" >
                                                                    <ul class="link-list-plain">
                                                                        <li><a class="link-list-plain" href="{% url 'roommate_request_delete' req.pk %}" class='px-1'>remove</a></li>
                                                                        </ul>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                          
                                                
                        
                                            {% endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}